.projects-video
{
    height: 521px;
    width: 920px;
}
.project
{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
.projects
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 80px;
    padding: 10px 0px;
}
.head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
a{
    font-size: 20px;
    font-weight: 700;
}