img
{
    height: 100px;
    margin: 10px 20px;
}
.table-skills
{
    margin: auto;
    border: 1px solid grey;
    border-collapse: collapse;
    margin-top: 20px;
}
tr ,th ,td{
    border: 1px solid grey;
    padding: 10px;
}
th
{
    font-size: 30px;
}